MVCKnoBootTest/Service References/ServiceOrder/Order.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Wcf.IISHost/Order.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf.Interface.Order" />
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf.Interface.Order" minOccurs="0" name="getOrderInput" nillable="true" type="q1:GetOrderInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf.Interface.Order" minOccurs="0" name="GetOrderResult" nillable="true" type="q2:GetOrderOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>